In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import sys

In [2]:
libpath = r"../rformula/"
sys.path.append(libpath)
from stats_core import *

In [3]:
df = pd.read_csv("testdata/test.csv", index_col = 0)
df.head()

    len supp  dose
1   4.2   VC   0.5
2  11.5   VC   0.5
3   7.3   VC   0.5
4   5.8   VC   0.5
5   6.4   VC   0.5

# t test

In [4]:
t.test(df["len"])

Ttest_1sampResult(statistic=19.051045760131323, pvalue=6.940634302707275e-27)

In [5]:
t.test(np.random.randn(50), df["len"], paired = False)

Ttest_indResult(statistic=-17.340666594329306, pvalue=5.477189840808091e-33)

In [6]:
t.test("len ~ supp", data = df, paired = False)

Ttest_indResult(statistic=1.91526826869527, pvalue=0.06039337122412849)

# wilcoxon test

In [7]:
wilcox.test(np.random.randn(20), np.random.randn(20))

WilcoxonResult(statistic=63.0, pvalue=0.1230926513671875)

In [8]:
wilcox.test(np.random.randn(30) + 1.3)

WilcoxonResult(statistic=18.0, pvalue=1.0246327832617613e-05)

In [9]:
wilcox.test("len ~ supp", data = df)

WilcoxonResult(statistic=85.0, pvalue=0.004168013752880038)

# anova

In [10]:
np.random.seed(1000)
df2 = pd.DataFrame({"obs": np.random.randn(150), \
                    "factor1": (np.arange(150) / 75).astype(np.int), \
                    "factor2": (np.arange(150) % 3).astype(np.int)})
df2.iloc[:75, 0] += 0.6
df2.head()

        obs  factor1  factor2
0 -0.204458        0        0
1  0.920932        0        1
2  0.574517        0        2
3  1.244324        0        0
4  0.299203        0        1

In [11]:
aov("obs ~ factor2", data = df2)

OnewayAnovaResult(f-statistic=1.019340, p-value=0.363369)

In [12]:
aov("obs ~ factor2 + factor1 + factor1 * factor2", data = df2)

factor2Result(f-statistic=1.111328, p-value=0.331834)
factor1Result(f-statistic=12.553436, p-value=0.000528)
interfactorResult(f-statistic=1.856136, p-value=0.159871)

# kruskal-wallis

In [13]:
kruskal.test("obs ~ factor2", df2)

kruskal-wallisResult(chi2-square=1.682670, p-value=0.431135)

In [14]:
kruskal.test("obs ~ factor2", df2.loc[df2.factor2.isin([1, 2])])

kruskal-wallisResult(chi2-square=0.001711, p-value=0.967007)

# friedman test

In [15]:
mat = df2["obs"].values.astype(np.float).reshape((-1, 3))
friedman.test(mat)

FriedmantestResult(chi2-square=3.040000, p-value=0.218712)